<div class="container game_start">

    <h1 id="game_heading">Blackjack</h1>

    <div class="name_field">

        <h4>What is your name?</h4>

        <form action='/set_name' method='post'>
            <input id="name" type='text' name='player_name' />
            <br />
            <input type='submit' class='btn' value='Start' />
        </form>

    </div>

</div>
